<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li class="active"><a href="#overview">Overview</a></li>
		<li><a href="#disk">Disk</a></li>
		<li><a href="#cpu">CPU</a></li>
		<li><a href="#uptime">Uptime</a></li>
	</ul>
</div>
<!-- Overview -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 id="overview">Overview</h1>

	<div class="row placeholders">
		<div class="col-xs-6 col-sm-4 placeholder">
			<div id="js-1-free-ram">

			</div>
			<h4>Free RAM</h4>
		</div>
		<div class="col-xs-6 col-sm-4 placeholder">
			<div id="js-1-cpu">

			</div>
			<h4>Used CPU</h4>
		</div>
		<div class="col-xs-6 col-sm-4 placeholder">
			<div id="js-1-used-ram">

			</div>
			<h4>Used RAM</h4>
		</div>
	</div>
	<hr />
</div>
<!-- Disk -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 id="disk">Disk</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Device</th>
				<th>Mount</th>
				<th>Total</th>
				<th>Used</th>
				<th>Free</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>/dev/vda</td>
				<td>/</td>
				<td>20G</td>
				<td>8.9G (48%)</td>
				<td>9.8G</td>
			</tr>
		</tbody>
	</table>
	<hr />
</div>
<!-- CPU -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 id="cpu">CPU</h1>
	<hr />
</div>
<!-- Uptime -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 id="uptime">Uptime</h1>
	<hr />
</div>