<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li class="active"><a href="#overview">Overview</a></li>
		<li><a href="#disk">Disk</a></li>
		<li><a href="#info">Information</a></li>
		<li><a href="#uptime">Uptime</a></li>
	</ul>
</div>
<!-- Overview -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 id="overview">Overview</h1>
	<hr />

	<div class="row placeholders">
		<div class="col-xs-6 col-sm-4 placeholder">
			<cjs-doughnut dataset="ramData" options="chartOptions" segement-stroke-width="5"></cjs-doughnut>
			<h4>RAM Usage ({{ ramData[1].value }}% free)</h4>
		</div>
		<div class="col-xs-6 col-sm-4 placeholder">
			<cjs-bar dataset="cpuData" options="chartOptions" segement-stroke-width="5"></cjs-bar>
			<h4>CPU Usage ({{ cpu_load }})</h4>
		</div>
		<div class="col-xs-6 col-sm-4 placeholder">
			<ul class="list-group">
				<li class="list-group-item"><b>Hostname:</b> {{ hostname }}</li>
				<li class="list-group-item"><b>CPU Cores:</b> {{ cores }}</li>
				<li class="list-group-item"><b>RAM:</b> {{ ram }}</li>
				<li class="list-group-item"><b>CPU Arch:</b> {{ cpu_arch }}</li>
				<li class="list-group-item"><b>OS Platform:</b> {{ platform }}</li>
			</ul>
		</div>
	</div>
</div>
<!-- Disk -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 id="disk">Disk</h1>
	<hr />

	<table class="table table-curved">
		<thead>
			<tr>
				<th>Device</th>
				<th>Mount</th>
				<th>Total</th>
				<th>Used</th>
				<th>Free</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="disk in disks">
				<td>{{ disk.system }}</td>
				<td>{{ disk.mount }}</td>
				<td>{{ disk.total }}</td>
				<td>{{ disk.used }} ({{ disk.percent }})</td>
				<td>{{ disk.free }}</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- CPU -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 id="proc">Processor</h1>
	<hr />

	<table class="table table-curved">
		<thead>
			<tr>
				<th>Model</th>
				<th>Speed (Mhz)</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="core in cpus">
				<td>{{ core.model }}</td>
				<td>{{ core.speed }}</td>
			</tr>
		</tbody>
	</table>


</div>
<!-- Uptime -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 id="network">Network Interfaces</h1>
	<hr />

	<div class="network-interface" ng-repeat="(interface_name, interface) in interfaces">
		<h4>{{ interface_name }}</h4>

		<table class="table table-curved">
			<thead>
				<tr>
					<th>Address</th>
					<th>Family</th>
					<th>Internal</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="address in interface">
					<td>{{ address.address }}</td>
					<td>{{ address.family }}</td>
					<td>{{ address.internal }}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>